.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 1fr));
    gap: 20px;
    background-color: #b2e0df;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .recipe-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
  }
  
  .recipe-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .recipe-calories {
    font-size: 14px;
    color: #888888;
  }
  
  .recipe-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .recipe-image {
    height: 250px;
    width: 300px;
  }
  
  .search-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .searchTerm {
    width: 300px;
    border: 3px solid #00b4cc;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none; 
  }
  
  
  
  .searchButton {
    width: 100px;
    height: 36px;
    border: 1px solid #00b4cc;
    background: #00b4cc;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  